
body{
	background-color:rgb(204, 204, 204);
}
ul{
	background-color: white;
	list-style-type: none
		padding:30px;
	border-radius: 10px;
}
li{
 text-decoration: none;
	list-style-type:none;
}
a{
 text-decoration: none;
}

.player_one, .player_two{
	background-color:rgb(255, 255, 255);
	padding:50px;
	border-radius: 10px;
}